<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-md rounded-lg p-8 max-w-md w-full">
    <h2 class="text-2xl font-bold text-center mb-6">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-6" }) do |f| %>

      <div class="flex flex-col space-y-2">
        <%= f.label :email, class: "text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 p-2 border border-gray-300 rounded-md shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm" %>
      </div>

      <div class="flex flex-col space-y-2">
        <%= f.label :password, class: "text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 p-2 border border-gray-300 rounded-md shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:text-sm" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-teal-600 border-gray-300 rounded focus:ring-teal-500" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "w-full py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-black hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500" %>
      </div>

    <% end %>
  </div>
</div>
